.list-area {
    display: flex;
}

.list {
    padding: 5px;
    height: auto;
    width: 50%;
    background-color: #f1c4c4;
    margin: 10px;
    border-radius: 5px;
    transition-property: background;
    transition-duration: 0.3s;
}

.list-current {
    background-color: #c3c4f2;
}

.block-wrap {
    display: block;
    height: auto;
    width: 100%;
}

.block {
    top: 0px;
    margin: 10px;
    padding: 10px;
    display: block;
    position: relative;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.block-current {
    opacity: 0.5;
    border: 2px dotted black;
}