<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap: ws: https://ssl.gstatic.com;style-src * 'unsafe-inline' 'self' data: blob:;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;img-src * data: 'unsafe-inline' 'self'">
    <title>Vue Draggable Sample</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <link rel="stylesheet" href="./css/style.css">
  <body style="margin: auto;">
    <div id="app">
      <div :class="listAreaClass">
        <div 
          v-for="(rows, listIndex) in listData"
          :ref="'list'"
          :key="listIndex"
          :class="defaultListClass"
          @dragenter="dragenter($event, listIndex)"
          @dragover="dragover"
        >
          <div class="block-wrap">
            <div
              v-for="(row, rowIndex) in rows"
              :ref="'block_' + listIndex + '_' + rowIndex"
              :key="rowIndex"
              :class="defaultBlockClass"
              :draggable="'true'"
              :position="listIndex + '_' + rowIndex"
              @dragstart="dragStart($event, listIndex, rowIndex)"
              @dragend="dragEnd"
            >
              {{ row.title }}
            </div>
          </div>
        </div>
      </div>
      <div>
        <button @click="addList">Add List</button>
      </div>
    </div>
  
  <script type="text/javascript" src="./src/polyfill.js"></script></body>
  <script type="text/javascript" src="./src/app.js"></script>
</html>
